.card {
    display: flex;
    background: #FFFFFF;
    align-items: center;
    height: 60px;
    padding: 16px;

    >.back {
        display: flex;
        align-items: center;
        >img {
            width: 24px;
            height: 24px;
            margin: 8px;
        }

        >label {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
        }
    }
}