.main-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  .title {
    position: relative;
    min-width: 100px;
    display: flex;
    font-size: 14px;
    line-height: 64px;
    .required {
      font-size: 18px;
      color: #eb5757;
    }
  }
  .input {
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    margin-right: 50px;
    .input_text_area {
      border-radius: 12px;
      height: 120px;
      border: 1px solid #bdbdbd;
      padding-top: 20px;
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      text-align: start;
    }
    .input_text {
      border-radius: 12px;
      border: 1px solid #bdbdbd;
      padding: 20px 10px;
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      text-align: start;
    }
    .img-chosen {
      height: 55px;
      line-height: 50px;
      border-radius: 12px;
      border: 1px solid #bdbdbd;
      padding: 7px 10px 0;
      .input {
        display: flex;
        justify-content: center;
        .input_text_img {
          width: 100%;
          height: 48px;
          border: none;
          background: #ffffff;
          font-size: 18px;
          line-height: 22px;
          text-align: start;
        }
      }
    }
    .radio-combo {
      display: flex;
      flex-direction: row;
      line-height: 64px;
      .radio {
        margin-right: 35px;
      }
    }
    .error {
      font-size: 18px;
      line-height: 22px;
      color: #eb5757;
    }
  }
}
