.col-md {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-fixed {
  position: relative;
  padding-right: 5px;
}

.box-shadow {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.emr-form {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.form-header {
  background: #f7f6fe;
  border-radius: 16px 16px 0 0;
  font-size: 24px;
  line-height: 120px;
  text-align: center;
  height: 120px;
  color: #000000;
}

.row {
  display: flex;
}

.section-title {
  width: 100%;
  display: flex;
  margin-right: 10px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #bdbdbd;
  margin: 50px 0;
}
hr {
  border: none;
  border-top: 1px solid #bdbdbd;
  display: inline-block;
  width: 85%;
}

.category-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

input::placeholder {
  padding-left: 20px;
}
textarea::placeholder {
  padding-left: 20px;
}

.button-layout {
  cursor: pointer;
  height: 48px;
  background: #30a16a;
  border-radius: 8px;
  border: none;
  justify-content: center;
  line-height: 48px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  .icon {
    margin-right: 13px;
    color: #ffffff;
  }
}
