.emrSearchBoxBody {
  padding: 80px 11.5%;
  text-align: center;
  .memo {
    width: 100%;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  .search_grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .search_box {
      grid-column-start: 4;
      grid-column-end: 9;
      padding: 6px;
      height: 60px;
      background: #ffffff;
      border: 1px solid #bdbdbd;
      box-sizing: border-box;
      border-radius: 12px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .search_txt_section {
        grid-column-start: 1;
        grid-column-end: 5;
        border: none;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        width: 100%;
      }
      .search_btn_section {
        grid-column-start: 5;
        grid-column-end: 7;
        display: flex;
        width: 100%;
        .icon_section {
          padding-top: 15px;
          padding-right: 10%;
          padding-left: 10%;
          .icon {
            height: 17.5px;
            width: 17.5px;
          }
        }
        .btn_section {
          cursor: pointer;
          width: 100%;
          background: #30a16a;
          border-radius: 8px;
          text-align: center;
          position: relative;
          .btn_txt {
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
          }
        }
      }
    }
  }
  .search_result {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    display: flex;
    justify-content: center;
    .search_txt {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #333333;
    }
  }
}
