.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 20px 16px;
    padding: 16px;

    >.information {
        display: flex;
        flex-direction: column;
        justify-content: center;

    
        .name {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
    
        .lasting {
            font-size: 14px;
            line-height: 17px;
            font-style: italic;
            color: #828282;
        }
    }

    >img {
        width: 24px;
        height: 24px;
    }
}

