.wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;

    .col-12 {
        display: flex;
        input {
            width: 41.25rem;
            height: 3.75rem;
        }
    }

    .section {
        margin-bottom: 2rem;
    }

    .col-6 {
        display: flex;
        justify-content: center;
        width: 800px;

        >.control {
            width: 25rem;
            height: 60px;
        }

        input {
            width: 240px;
            height: 60px;
        }

        >:nth-child(n) {
            width: 50%;
        }

        >:nth-child(2n) {
            >label {
                margin: auto;
            }
        }

        >:nth-child(2n+1) {
            >input {
                margin-right: 0px;
                width: 260px;
            }
        }
    }

    .label {
        display: flex;
        color: #BDBDBD;
        font-size: 14px;
        margin: 2rem 0rem;

        >hr {
            width: 37.5rem;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 13.875rem;
        height: 3rem;
    }

}

