.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: auto;
    margin: 32px;
    .button {
        width: 11.25rem;
        height: 3rem;
    }
}