.section {
    margin-bottom: 2rem;
}

.label {
    display: flex;
    color: #BDBDBD;
    font-size: 14px;
    margin: 2rem 0rem;
    align-items: center;


    >hr {
        width: 100%;
        margin-left: 25px;
        background-color: #BDBDBD;
        height: 1px;
        border: 0;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}